@import url('https://fonts.googleapis.com/css?family=Playball');

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    font-family: 'Playball', cursive;
    text-align: center;
    font-size: 8rem;
    font-weight: 100;
    margin: 2rem 0;
    letter-spacing: -1px;
    color: black;
    text-decoration: none;
}

h1 a {
    color: black;
    text-decoration: none;
}

h1 a:focus {
    outline: 0;
}

.photo-grid {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.figure {
    flex-basis: calc(33.333% - 4rem);
    border: 1px solid #d3d3d3;
    padding: 2rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
}

.figure:hover,
.figure:focus {
    border: 1px solid #2196f3;
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.2), 0 2px 8px 4px rgba(60, 64, 67, 0.1);
}

.photo {
    width: calc(100% + 4rem);
    margin: -2rem 0rem 0rem -2rem;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    font-size: 15px;
    flex-basis: 48%;
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
    border: 0;
    border-radius: 3;
    color: white;
    line-height: 2;
    cursor: pointer;
    display: inline-block;
    padding: 0 30px;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}

button:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

.button {
    border: 1px solid white;
    background: none;
    flex-basis: 48%;
    display: inline-block;
    line-height: 2;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: red;
    transition: all 0.2s;
    box-sizing: padding-box;
}

.button:hover, .button:focus {
    border: 1px solid #2196f3;
    outline: 0;
}

.add-icon {
    margin: 0px auto;
    /* height: 20px;
    width: 20px; */
    display: table;
    padding: 10px;
    text-align: center;
    /* background: url('../images/_ionicons_svg_md-add-circle.svg'); */
    border-radius: 50%;
    border: none;
}


.add-icon:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

/* .add-icon:hover,
.add-icon:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 15px #9ecaed;
  } */

.fapluscircle {
    font-size: 50px;
    border-radius: 50%;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}

.fapluscircle:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

.form {
    background: white;
    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 0 15px;
}

.form button {
    font-family: sans-serif;
    text-transform: uppercase;
    background: #065784;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover {
    background: #7b8589;
}

.figure .single-photo {
    flex-basis: calc(33.3333% - 4rem);
    border: 1px solid #d3d3d3;
    padding: 2rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;
}

.single-photo {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    background: #fff;
    border: black;
}

.single-photo .figure {
    box-shadow: none;
    margin: 0 2rem 0 0;
    border: 0;
    padding: 0;
    flex: 1 0 60%;
    max-width: 60%;
}

.single-photo .comments {
    flex: 1 0 40%;
    max-width: 40%;
}

.single-photo .photo {
    width: 100%;
    margin: 0;
}

.comment {
    width: 100%;
}

.comment p {
    border-bottom: 1px solid #d3d3d3;
    padding: 0.5rem 0;
}

.comment-form input, .comment-form textarea {
    width: 100%;
    border: 0;
    font-size: 1.3rem;
    padding: 1rem 0;
    border-bottom: 1px solid #d3d3d3;
    outline: none;
    resize: vertical;
}

.speech-bubble {
    background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/51904-200.png") center no-repeat;
    background-size: contain;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border: none;
    position: relative;
}

.comment-count {
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #CCCCCC solid 1px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; 
}

.loader {
    height: 20%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 28pt;
}